NODE_ENV=<NODE_ENV>
port=<PORT>
WEB_ORIGIN=<WEB_ORIGIN>
CHUNK_SIZE=<CHUNK_SIZE>
NEXT_PUBLIC_API_URL=<NEXT_PUBLIC_API_URL>

# Database secrets
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_DB=<POSTGRES_DB>
DATABASE_URL=<DATABASE_URL>

# JWT secrets
JWT_ISSUER=<JWT_ISSUER>
JWT_AUDIENCE=<JWT_AUDIENCE>
JWT_SECRET=<JWT_SECRET>

# Google OAuth secrets
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>
GOOGLE_REDIRECT_URI=<GOOGLE_REDIRECT_URI>

# Redis secrets
REDIS_URL=<REDIS_URL>
REDIS_HOST=<REDIS_HOST>
REDIS_PORT=REDIS_PORT>

# Cloudflare R2 secrets
R2_ACCOUNT_ID=<R2_ACCOUNT_ID>
R2_API_TOKEN=<R2_API_TOKEN>
R2_ACCESS_KEY_ID=<R2_ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<R2_SECRET_ACCESS_KEY>
R2_BULK_IMPORTS_BUCKET=<R2_BULK_IMPORTS_BUCKET>
R2_PRODUCT_MEDIA_BUCKET=<R2_PRODUCT_MEDIA_BUCKET>
R2_ENDPOINT=<R2_ENDPOINT>